<a href="https://colab.research.google.com/github/gani25u/py/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# Temperature Data Analysis
import numpy as np
weekly_temps = np.array([22, 24, 25, 23, 26, 28, 27])
print("First 3 days:", weekly_temps[:3])
print("Full data:", weekly_temps)

First 3 days: [22 24 25]
Full data: [22 24 25 23 26 28 27]

In [14]:
# 2. Sensor Data Simulation
sensor_readings = np.array([[21.5, 22.0, np.nan, 23.1, 24.2, np.nan, 25.0],
                            [20.0, np.nan, 21.5, 22.3, np.nan, 23.5, 24.0]])
sensor_readings[np.isnan(sensor_readings)] = 0
print("\nSensor readings (NaN replaced with 0):\n", sensor_readings)

Sensor readings (NaN replaced with 0):
 [[21.5 22.   0.  23.1 24.2  0.  25. ]
 [20.   0.  21.5 22.3  0.  23.5 24. ]]

In [15]:

# 3. Inventory Management
product_ids = np.array([101, 105, 112, 108])
all_bins = np.concatenate([product_ids, product_ids])
print("\nCombined bins:", all_bins)

Combined bins: [101 105 112 108 101 105 112 108]

In [16]:

# 4. Quarterly Sales Report
q1_sales = np.array([500, 520, 550])
q2_sales = np.array([580, 600, 620])
sales_report = np.vstack((q1_sales, q2_sales))
print("\nQuarterly Sales Report:\n", sales_report)

Quarterly Sales Report:
 [[500 520 550]
 [580 600 620]]

In [17]:
# 5. Finding High Performers
scores = np.array([85, 92, 78, 88, 95, 76])
high_scores = scores[scores >= 90]
print("\nHigh Performers (>=90):", high_scores)

High Performers (>=90): [92 95]

In [18]:
import pandas as pd
import numpy as np

# 1. Employee Data Retrieval
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Department': ['HR', 'Engineering', 'Sales'],
    'Salary': [60000, 85000, 75000]
}
df = pd.DataFrame(data)
print("\nBob using loc:\n", df.loc[df['Name'] == 'Bob'])
print("\nBob using iloc:\n", df.iloc[1])

Bob using loc:
   Name   Department  Salary
1  Bob  Engineering   85000

Bob using iloc:
 Name                  Bob
Department    Engineering
Salary              85000
Name: 1, dtype: object

In [19]:
# 2. Combining Student Records
freshmen = pd.DataFrame({'StudentID': [1, 2], 'Major': ['CS', 'Math']})
sophomores = pd.DataFrame({'StudentID': [3, 4], 'Major': ['Physics', 'Chemistry']})
all_students = pd.concat([freshmen, sophomores], ignore_index=True)
print("\nAll Students:\n", all_students)

All Students:
    StudentID      Major
0          1         CS
1          2       Math
2          3    Physics
3          4  Chemistry

In [11]:
# 3. Project Assignment
projects = pd.DataFrame({'project_id': [1, 2, 3],
                         'project_name': ['AI', 'Web Dev', 'Data Science']})
employees = pd.DataFrame({'employee_id': [101, 102, 103],
                          'project_id': [1, 3, 2]})
merged = pd.merge(employees, projects, on='project_id')
print("\nEmployee Projects:\n", merged)

Employee Projects:
    employee_id  project_id  project_name
0          101           1            AI
1          102           3  Data Science
2          103           2       Web Dev

In [12]:

# 4. Cleaning a Customer List
customers = pd.DataFrame({
    'Name': ['John', 'Jane', 'John', 'Mike'],
    'Phone Number': ['12345', np.nan, '12345', np.nan]
})
customers_clean = customers.drop_duplicates()
customers_clean['Phone Number'] = customers_clean['Phone Number'].fillna('Not Available')
print("\nCleaned Customer List:\n", customers_clean)

Cleaned Customer List:
    Name   Phone Number
0  John          12345
1  Jane  Not Available
3  Mike  Not Available

/tmp/ipython-input-1917510079.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customers_clean['Phone Number'] = customers_clean['Phone Number'].fillna('Not Available')

In [20]:

# 5. Analyzing Sales by Region
sales = pd.DataFrame({
    'Region': ['East', 'West', 'East', 'North', 'South', 'East'],
    'Revenue': [200, 150, 300, 100, 250, 400]
})
east_sales = sales[sales['Region'] == 'East']
print("\nEast Region Data:\n", east_sales)
print("Total East Revenue:", east_sales['Revenue'].sum())

East Region Data:
   Region  Revenue
0   East      200
2   East      300
5   East      400
Total East Revenue: 900